body{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
     background-image:linear-gradient(rgba(0,0,0,0.70), rgba(0,0,0,0.70)), url("../image/port1.jpeg");
    background-attachment: fixed;
    background-size: cover;

}
*{
   padding: 0;
   margin: 0;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.header{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 60px,100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    z-index: 10000;
    

}
.logo{
    color: rgb(6, 7, 7);
    font-weight: 1000;
    background-size: 400%;
    background: linear-gradient(90deg,rgb(236, 198, 27),rgb(160, 7, 7),rgb(15, 51, 59),rgb(0, 248, 194));
    text-decoration: none;
    padding-left: 50px;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Times New Roman', Times, serif;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate 10s linear infinite; 
  
}

@keyframes animate{
  0%{
    background-position: 0%;
}
100%{
    background-position: 400%;
}
}
.unl{
    display: flex;
    justify-content: center;
    align-items: center;
}
.li{
    list-style: none;
    margin-left: 18px;
 
}
.anc{
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 4px;
    overflow: hidden;
    transition: 0.2s;
    text-decoration: none;
    padding: 5px,15px;
    color: rgb(72, 73, 7);
    padding-left: 15px;
    padding-right: 15px ;
    font-size: 20px;
font-family: Verdana, Geneva, Tahoma, sans-serif;}
.anc:hover{
    border-radius: 10px;
    box-shadow: 0 0 10px #f39121, 0 0 40px #c79345, 0 0 80px #e4c84c;
 
}
.anc:active{
    background: rgb(128, 105, 0);
    color: rgb(255, 255, 255);
    border-radius: 13px;

}
.img{
    width:300px;
  height:300px;
  border-radius:200px;
  border: 5px solid rgb(255, 30, 0); 
  margin-left: 100px;
  position:absolute;
  margin-top: 100px;
}

.img2{
    width:300px;
    height:300px;
    border-radius:200px;
    border: 5px solid rgb(255, 30, 0); 
    margin-left: -800px;
    position:absolute;
    margin-top: 100px;
}
